nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    font-family: "Roboto",sans-serif;

    ul {
        border: solid 2px black;
        display: flex;

        list-style: none;
        padding-inline-start: 0px;
        
        li {
            
            
            a {
                display: flex;
                border: solid 2px black;
                color: black;
            }
        }
    }
}